<p>Pick a colour</p>

<div>
  <form action="/" method="post">
    <select name = "colour">
      <option value="pink">pink</option>
      <option value="yellow">yellow</option>
      <option value="green">green</option>
      <option value="purple">purple</option>
      <option value="blue">blue</option>
    </select>

    <input type="submit" value="Submit">
  </form>
</div>

<p> ** Coming soon: Search for Red and Orange! **
